* {
    font-family: serif;
}
.header {
    display:flex;
    flex:auto;
    
    justify-content:space-around;
    color:red;

    background-color:#1F2937
}
.Rheader{
    display:flex;
    gap:8px;
    align-items:center;

    
}
.header2{
    color:white;
    display: flex;
align-items: center;
justify-content:space-around;
padding: 5%;
background-color:#1F2937
    
}
.info{
    display: flex;
    justify-content:center;
    padding:5%;
    font-weight:bolder;
    font-size:larger;
}
.fourimage{
    display:flex;
    justify-content:center;
    gap:50px;
    
    
}
.imagecap{
    display:flex;
    justify-content:center;
    gap:180px;
}
.img1,.img2,.img3,.img4{
    border: 3px solid blue;
}
.quote{
    
   display:flex;
   justify-content:center;


}
.quote-container{
    margin-right:300px;
    margin-left:300px;
    margin-top:30px;
    border-radius:10px;
    background-color:bisque;
}
.source{
    display:flex;
    justify-content:right;

    
    margin-right: 500px;
    
}
.cta{
    margin-top:50px;
    color:white;
    display: flex;
align-items: center;
justify-content:space-around;
margin-right:500px;
margin-left:500px;
background-color:#1F2937;
border-radius:10px
}
.footer{
    display:flex;
    justify-content:center;
    padding:20px;
    margin-top:50px;
    color:white;
    background-color:#1F2937;
   
    
}
