
.header {

    display:flex;
    flex:auto;

    font-weight:bold;
    font-size:24px;
    color:#F9FAF8;
    
    justify-content:space-around;
    

    background-color:#1F2937
}
.Rheader{
    display:flex;
    gap:8px;
    align-items:center;
    font-size:18px;
    color:#E5E7EB

    
}

.signup1 ,.signup2{
    background-color:#3882F6;
    border-radius:4px;
    padding: 10px 25px;
    
    color:white;
    font-weight:bold;
}
.signup1{
    border:none;
    
}
.signup2{
    border: 1px solid white;
    border-radius:5px;
}
.header2{
    color:white;
    display: flex;
align-items: center;
justify-content:space-around;
padding: 5%;
background-color:#1F2937
    
}
.info{
    display: flex;
    justify-content:center;
    padding:5%;
    font-weight:bolder;
    font-size:36px;
    color:#1F2937
}
.fourimage{
    display:flex;
    justify-content:center;
    gap:50px;
    
    
}
.imagecap{
    display:flex;
    justify-content:center;
    gap:180px;
}
.img1,.img2,.img3,.img4{
    border: 3px solid blue;
}
.quote{
    
   display:flex;
   justify-content:center;


}
.quote-container{
    font-style:italic;
    padding:20px;
    background-color:#E5E7EB;
    font-size:32px;
    font-weight:lighter;
    color:#1F2937;
}
.source{
    display:flex;
    justify-content:right;

    
    margin-right: 500px;
    
}
.cta{
    margin-top:50px;
    color:white;
    display: flex;
align-items: center;
justify-content:space-around;
margin-right:500px;
margin-left:500px;
background-color:#3882F6;
border-radius:10px
}
.footer{
    display:flex;
    justify-content:center;
    padding:20px;
    margin-top:50px;
    color:white;
    background-color:#1F2937;
   
    
}
